workflows/00-error-handler.json
{
  "name": "ST-00 Error Handler",
  "active": true,
  "nodes": [
    {
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        240,
        300
      ],
      "id": "9506b76d-5fec-40f6-922c-275b3ff4a807"
    },
    {
      "name": "Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst wfId = (d.workflow?.id || 'unknown');\nconst lastNode = (d.execution?.lastNodeExecuted || 'unknown');\nconst key = `${wfId}|${lastNode}`;\n\nif (staticData.lastErrorKey === key) {\n  const lastTime = staticData.lastErrorTime || 0;\n  const now = Date.now();\n  if (now - lastTime < 300000) return []; // 5 min cooldown per workflow+node\n}\n\nstaticData.lastErrorKey = key;\nstaticData.lastErrorTime = Date.now();\nreturn [$input.first()];"
      },
      "position": [
        460,
        300
      ],
      "id": "dedup-check-001"
    },
    {
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst wfName  = (d.workflow?.name  || 'Unknown workflow');\nconst wfId    = (d.workflow?.id    || '');\nconst errMsg  = (d.execution?.error?.message || 'Unknown error').substring(0, 200);\nconst lastNode = (d.execution?.lastNodeExecuted || 'unknown node');\nconst execId  = (d.execution?.id   || '');\n\nreturn [{json: {\n  wfName,\n  errMsg: errMsg.substring(0, 150),\n  lastNode: lastNode.substring(0, 50),\n  taskTitle: `SpaceShipIO: ${wfName} failed`,\n  taskBody: `Workflow: ${wfName}\\nExecution: ${execId}\\nFailed at: ${lastNode}\\n\\nError: ${errMsg}`,\n  idemKey: `spaceship-err-${wfId}`\n}}];"
      },
      "position": [
        680,
        300
      ],
      "id": "ff7a9100-fe50-435d-81b1-cd48303ff055"
    },
    {
      "name": "Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"title\": \"SpaceShipIO Error\", \"message\": \"❌ {{ $json.wfName }} — {{ $json.lastNode }}: {{ $json.errMsg }}\", \"severity\": \"error\" }",
        "continueOnFail": true,
        "options": {}
      },
      "position": [
        900,
        200
      ],
      "id": "e413fe67-6548-448d-aa9a-2fa1dc062b51"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}