workflows/00-error-handler.json
{
  "updatedAt": "2026-05-27T07:18:57.541Z",
  "createdAt": "2026-05-27T07:18:57.541Z",
  "id": "UBBtoeMsOM2deZTM",
  "name": "ST-00 Error Handler",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        240,
        300
      ],
      "id": "9506b76d-5fec-40f6-922c-275b3ff4a807"
    },
    {
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst wfName  = (d.workflow?.name  || 'Unknown workflow');\nconst wfId    = (d.workflow?.id    || '');\nconst errMsg  = (d.execution?.error?.message || 'Unknown error').substring(0, 200);\nconst lastNode = (d.execution?.lastNodeExecuted || 'unknown node');\nconst execId  = (d.execution?.id   || '');\n\n// Sanitize: remove chars that break double-quoted shell args\nfunction san(s, maxLen) {\n  return String(s)\n    .replace(/\\n|\\r/g, ' | ')\n    .replace(/\"/g, \"'\")\n    .replace(/`/g, \"'\")\n    .replace(/\\$/g, 'S')\n    .replace(/\\\\/g, '/')\n    .substring(0, maxLen || 300);\n}\n\nconst taskTitle  = san(`SpaceShipIO: ${wfName} failed`, 80);\nconst taskBody   = san(\n  `Workflow: ${wfName}\\n` +\n  `Execution: ${execId}\\n` +\n  `Failed at: ${lastNode}\\n\\n` +\n  `Error: ${errMsg}\\n\\n` +\n  `n8n: http://192.168.40.15:5678/workflow/${wfId}/executions`\n);\nconst idemKey = san(`spaceship-error-${wfId}`, 60);\n\nreturn [{json: {\n  wfName,\n  errMsg: san(errMsg, 150),\n  lastNode: san(lastNode, 50),\n  taskTitle,\n  taskBody,\n  idemKey\n}}];\n"
      },
      "position": [
        460,
        300
      ],
      "id": "ff7a9100-fe50-435d-81b1-cd48303ff055"
    },
    {
      "name": "Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"SpaceShipIO Error\",\"message\":\"\u274c {{ $json.wfName }} \u2014 {{ $json.lastNode }}: {{ $json.errMsg }}\",\"severity\":\"error\"}",
        "options": {}
      },
      "position": [
        680,
        200
      ],
      "id": "e413fe67-6548-448d-aa9a-2fa1dc062b51"
    },
    {
      "name": "Create Kanban Task",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "parameters": {
        "command": "/home/mcastae813/.local/bin/hermes kanban create \"{{ $json.taskTitle }}\" --body \"{{ $json.taskBody }}\" --assignee default --workspace scratch --idempotency-key \"{{ $json.idemKey }}\" --json"
      },
      "position": [
        680,
        400
      ],
      "id": "9c3f3ef0-93a0-4c1e-a96b-940d6ffd729d"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Kanban Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "675cc2e5-5812-4041-84ee-89f9fea5631e",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-27T07:18:57.545Z",
      "createdAt": "2026-05-27T07:18:57.545Z",
      "role": "workflow:owner",
      "workflowId": "UBBtoeMsOM2deZTM",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}