workflows/02-contracts.json
{
  "updatedAt": "2026-05-27T04:26:18.471Z",
  "createdAt": "2026-05-27T00:34:27.502Z",
  "id": "l4FhC5LIhNxLpeHJ",
  "name": "ST-02 Contract Manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "3d2427ef",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.spacetraders.io/v2/my/contracts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {},
        "alwaysOutputData": true
      },
      "id": "a1041a95",
      "name": "List Contracts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.first().json.data || [];\nconst all = Array.isArray(raw) ? raw : [];\nconst unaccepted = all.filter(c => !c.accepted);\nconst fulfilled = all.filter(c => c.accepted && !c.fulfilled && c.terms?.deliver?.every(d => d.unitsFulfilled >= d.unitsRequired));\nconst active = all.filter(c => c.accepted && !c.fulfilled);\nreturn [{json: {unaccepted, fulfilled, active,\n  summary: `Unaccepted: ${unaccepted.length}, Ready to fulfill: ${fulfilled.length}, Active: ${active.length}`}}];\n"
      },
      "id": "1ecc4279",
      "name": "Categorize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "7206a0fa",
      "name": "Each Unaccepted",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {contractId: $input.first().json.id}}];"
      },
      "id": "b82c8e25",
      "name": "Set Accept ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/accept",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "continueOnFail": true,
        "options": {}
      },
      "id": "5ac6d677",
      "name": "Accept Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "197360aa",
      "name": "Each Fulfilled",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {contractId: $input.first().json.id}}];"
      },
      "id": "94f866cc",
      "name": "Set Fulfill ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/fulfill",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "continueOnFail": true,
        "options": {}
      },
      "id": "ff65ffb6",
      "name": "Fulfill Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"Contract Manager\",\"message\":{{ JSON.stringify($json.summary) }},\"severity\":\"info\"}",
        "options": {}
      },
      "id": "7033205e",
      "name": "Notify Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        550
      ]
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [
        [
          {
            "node": "List Contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Contracts": {
      "main": [
        [
          {
            "node": "Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize": {
      "main": [
        [
          {
            "node": "Each Unaccepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Each Fulfilled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Each Unaccepted": {
      "main": [
        [
          {
            "node": "Set Accept ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Accept ID": {
      "main": [
        [
          {
            "node": "Accept Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Each Fulfilled": {
      "main": [
        [
          {
            "node": "Set Fulfill ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fulfill ID": {
      "main": [
        [
          {
            "node": "Fulfill Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "b30f245a-27ee-4286-b595-9c87f238a8d4",
  "activeVersionId": "b30f245a-27ee-4286-b595-9c87f238a8d4",
  "versionCounter": 23,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T00:34:27.504Z",
      "createdAt": "2026-05-27T00:34:27.504Z",
      "role": "workflow:owner",
      "workflowId": "l4FhC5LIhNxLpeHJ",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-27T04:26:18.475Z",
    "createdAt": "2026-05-27T04:26:18.475Z",
    "versionId": "b30f245a-27ee-4286-b595-9c87f238a8d4",
    "workflowId": "l4FhC5LIhNxLpeHJ",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "id": "3d2427ef",
        "name": "Every 5 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.spacetraders.io/v2/my/contracts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "options": {},
          "alwaysOutputData": true
        },
        "id": "a1041a95",
        "name": "List Contracts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          300,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst raw = $input.first().json.data || [];\nconst all = Array.isArray(raw) ? raw : [];\nconst unaccepted = all.filter(c => !c.accepted);\nconst fulfilled = all.filter(c => c.accepted && !c.fulfilled && c.terms?.deliver?.every(d => d.unitsFulfilled >= d.unitsRequired));\nconst active = all.filter(c => c.accepted && !c.fulfilled);\nreturn [{json: {unaccepted, fulfilled, active,\n  summary: `Unaccepted: ${unaccepted.length}, Ready to fulfill: ${fulfilled.length}, Active: ${active.length}`}}];\n"
        },
        "id": "1ecc4279",
        "name": "Categorize",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          300
        ]
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "7206a0fa",
        "name": "Each Unaccepted",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          700,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{json: {contractId: $input.first().json.id}}];"
        },
        "id": "b82c8e25",
        "name": "Set Accept ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/accept",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "continueOnFail": true,
          "options": {}
        },
        "id": "5ac6d677",
        "name": "Accept Contract",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          200
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "197360aa",
        "name": "Each Fulfilled",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          700,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{json: {contractId: $input.first().json.id}}];"
        },
        "id": "94f866cc",
        "name": "Set Fulfill ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/fulfill",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "continueOnFail": true,
          "options": {}
        },
        "id": "ff65ffb6",
        "name": "Fulfill Contract",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/spaceship-notify",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"title\":\"Contract Manager\",\"message\":{{ JSON.stringify($json.summary) }},\"severity\":\"info\"}",
          "options": {}
        },
        "id": "7033205e",
        "name": "Notify Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          700,
          550
        ]
      }
    ],
    "connections": {
      "Every 5 min": {
        "main": [
          [
            {
              "node": "List Contracts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Contracts": {
        "main": [
          [
            {
              "node": "Categorize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Categorize": {
        "main": [
          [
            {
              "node": "Each Unaccepted",
              "type": "main",
              "index": 0
            },
            {
              "node": "Each Fulfilled",
              "type": "main",
              "index": 0
            },
            {
              "node": "Notify Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Each Unaccepted": {
        "main": [
          [
            {
              "node": "Set Accept ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Accept ID": {
        "main": [
          [
            {
              "node": "Accept Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Each Fulfilled": {
        "main": [
          [
            {
              "node": "Set Fulfill ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Fulfill ID": {
        "main": [
          [
            {
              "node": "Fulfill Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Martin Castaneda",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T04:26:18.609Z",
        "id": 89,
        "workflowId": "l4FhC5LIhNxLpeHJ",
        "versionId": "b30f245a-27ee-4286-b595-9c87f238a8d4",
        "event": "activated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    ]
  }
}