workflows/04-trading.json
{
  "updatedAt": "2026-05-27T07:18:59.315Z",
  "createdAt": "2026-05-27T00:34:27.622Z",
  "id": "pP6uLmDqtxgBrAXA",
  "name": "ST-04 Trading Engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "name": "Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "position": [
        240,
        300
      ],
      "id": "e27c57f3-1b18-4387-9729-ff6cf04b03a8"
    },
    {
      "name": "Get Market",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "GET",
        "url": "https://api.spacetraders.io/v2/systems/X1-UX96/waypoints/X1-UX96-A1/market",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        460,
        300
      ],
      "id": "264a94d7-ebdb-404f-a1db-349bb5a414ca"
    },
    {
      "name": "Find Top Margins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "\nconst market = $input.first().json.data;\nif (!market?.tradeGoods?.length) return [{json:{skip:true, reason:'no trade goods'}}];\nconst goods = market.tradeGoods\n  .map(g => ({symbol: g.symbol, margin: g.sellPrice - g.purchasePrice, buy: g.purchasePrice, sell: g.sellPrice}))\n  .filter(g => g.margin > 50)\n  .sort((a,b) => b.margin - a.margin)\n  .slice(0,5);\nif (!goods.length) return [{json:{skip:true, reason:'no margins > 50'}}];\nconst lines = goods.map(g => `${g.symbol}: ${g.buy}\u2192${g.sell} (+${g.margin})`).join('\\n');\nreturn [{json:{skip:false, message:`\ud83d\udcc8 X1-UX96-A1 top margins:\\n${lines}`}}];\n"
      },
      "position": [
        680,
        300
      ],
      "id": "ca08fc18-44f2-4feb-8a89-67202c88450f"
    },
    {
      "name": "Has Margins?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        }
      },
      "position": [
        900,
        300
      ],
      "id": "21e1f2a2-e640-49d1-b259-b77c532c7d97"
    },
    {
      "name": "Send Hint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"\ud83d\udcb9 Trading Engine\",\"message\":\"{{ $json.message }}\",\"severity\":\"info\"}",
        "options": {}
      },
      "position": [
        1120,
        220
      ],
      "id": "9afc7d8c-455c-4d5b-9b79-e579c38a079a"
    },
    {
      "name": "No Market",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        1120,
        380
      ],
      "id": "5a4a3ef1-f25c-47d0-8585-269e25f4e96c"
    }
  ],
  "connections": {
    "Every 10 min": {
      "main": [
        [
          {
            "node": "Get Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Market": {
      "main": [
        [
          {
            "node": "Find Top Margins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Top Margins": {
      "main": [
        [
          {
            "node": "Has Margins?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Margins?": {
      "main": [
        [
          {
            "node": "Send Hint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UBBtoeMsOM2deZTM"
  },
  "staticData": {
    "node:Every 10 min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
  "activeVersionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
  "versionCounter": 32,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T00:34:27.626Z",
      "createdAt": "2026-05-27T00:34:27.626Z",
      "role": "workflow:owner",
      "workflowId": "pP6uLmDqtxgBrAXA",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-27T05:54:31.355Z",
    "createdAt": "2026-05-27T05:54:31.355Z",
    "versionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
    "workflowId": "pP6uLmDqtxgBrAXA",
    "nodes": [
      {
        "name": "Every 10 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "position": [
          240,
          300
        ],
        "id": "e27c57f3-1b18-4387-9729-ff6cf04b03a8"
      },
      {
        "name": "Get Market",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "GET",
          "url": "https://api.spacetraders.io/v2/systems/X1-UX96/waypoints/X1-UX96-A1/market",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          460,
          300
        ],
        "id": "264a94d7-ebdb-404f-a1db-349bb5a414ca"
      },
      {
        "name": "Find Top Margins",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "parameters": {
          "jsCode": "\nconst market = $input.first().json.data;\nif (!market?.tradeGoods?.length) return [{json:{skip:true, reason:'no trade goods'}}];\nconst goods = market.tradeGoods\n  .map(g => ({symbol: g.symbol, margin: g.sellPrice - g.purchasePrice, buy: g.purchasePrice, sell: g.sellPrice}))\n  .filter(g => g.margin > 50)\n  .sort((a,b) => b.margin - a.margin)\n  .slice(0,5);\nif (!goods.length) return [{json:{skip:true, reason:'no margins > 50'}}];\nconst lines = goods.map(g => `${g.symbol}: ${g.buy}\u2192${g.sell} (+${g.margin})`).join('\\n');\nreturn [{json:{skip:false, message:`\ud83d\udcc8 X1-UX96-A1 top margins:\\n${lines}`}}];\n"
        },
        "position": [
          680,
          300
        ],
        "id": "ca08fc18-44f2-4feb-8a89-67202c88450f"
      },
      {
        "name": "Has Margins?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "a1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ]
          }
        },
        "position": [
          900,
          300
        ],
        "id": "21e1f2a2-e640-49d1-b259-b77c532c7d97"
      },
      {
        "name": "Send Hint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/spaceship-notify",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"title\":\"\ud83d\udcb9 Trading Engine\",\"message\":\"{{ $json.message }}\",\"severity\":\"info\"}",
          "options": {}
        },
        "position": [
          1120,
          220
        ],
        "id": "9afc7d8c-455c-4d5b-9b79-e579c38a079a"
      },
      {
        "name": "No Market",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "parameters": {},
        "position": [
          1120,
          380
        ],
        "id": "5a4a3ef1-f25c-47d0-8585-269e25f4e96c"
      }
    ],
    "connections": {
      "Every 10 min": {
        "main": [
          [
            {
              "node": "Get Market",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Market": {
        "main": [
          [
            {
              "node": "Find Top Margins",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Top Margins": {
        "main": [
          [
            {
              "node": "Has Margins?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Margins?": {
        "main": [
          [
            {
              "node": "Send Hint",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Market",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Martin Castaneda",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T05:54:31.406Z",
        "id": 130,
        "workflowId": "pP6uLmDqtxgBrAXA",
        "versionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
        "event": "activated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      },
      {
        "createdAt": "2026-05-27T07:18:59.441Z",
        "id": 148,
        "workflowId": "pP6uLmDqtxgBrAXA",
        "versionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
        "event": "activated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      },
      {
        "createdAt": "2026-05-27T07:18:59.282Z",
        "id": 147,
        "workflowId": "pP6uLmDqtxgBrAXA",
        "versionId": "45f48b4b-309a-4834-a285-656965a4dbcb",
        "event": "deactivated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    ]
  }
}