workflows/04-trading.json
{
  "updatedAt": "2026-05-27T00:34:27.622Z",
  "createdAt": "2026-05-27T00:34:27.622Z",
  "id": "pP6uLmDqtxgBrAXA",
  "name": "ST-04 Trading Engine",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "022623c6",
      "name": "Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.spacetraders.io/v2/my/ships",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {},
        "alwaysOutputData": true
      },
      "id": "a49ec6d3",
      "name": "List Ships",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "677a0712",
      "name": "Each Ship",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.spacetraders.io/v2/systems/{{$json.nav.systemSymbol}}/waypoints/{{$json.nav.waypointSymbol}}/market",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "continueOnFail": true,
        "options": {}
      },
      "id": "0ae40f5a",
      "name": "Get Market",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst market = $input.first().json.data;\nif (!market?.tradeGoods?.length) return [{json:{skip:true}}];\nconst goods = market.tradeGoods\n  .map(g => ({symbol: g.symbol, margin: g.sellPrice - g.purchasePrice, buy: g.purchasePrice, sell: g.sellPrice}))\n  .filter(g => g.margin > 0)\n  .sort((a,b) => b.margin - a.margin)\n  .slice(0,3);\nif (!goods.length) return [{json:{skip:true}}];\nconst lines = goods.map(g => `${g.symbol}: buy ${g.buy} \u2192 sell ${g.sell} (+${g.margin})`).join('\\n');\nreturn [{json:{skip:false, title:'Trade Hint @ ' + (market.symbol||'?'), message:lines}}];\n"
      },
      "id": "6f3d2c43",
      "name": "Find Top Margins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3c5ea392",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        }
      },
      "id": "fa2e93e5",
      "name": "Has Margins?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"title\":{{ JSON.stringify($json.title) }},\"message\":{{ JSON.stringify($json.message) }},\"severity\":\"info\"}",
        "options": {}
      },
      "id": "d284b0e7",
      "name": "Send Hint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {},
      "id": "fbf420e4",
      "name": "No Market",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ]
    }
  ],
  "connections": {
    "Every 10 min": {
      "main": [
        [
          {
            "node": "List Ships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Ships": {
      "main": [
        [
          {
            "node": "Each Ship",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Each Ship": {
      "main": [
        [
          {
            "node": "Get Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Market": {
      "main": [
        [
          {
            "node": "Find Top Margins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Top Margins": {
      "main": [
        [
          {
            "node": "Has Margins?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Margins?": {
      "main": [
        [
          {
            "node": "Send Hint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4572687e-6fff-427a-afe0-ffcc295846b4",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-27T00:34:27.626Z",
      "createdAt": "2026-05-27T00:34:27.626Z",
      "role": "workflow:owner",
      "workflowId": "pP6uLmDqtxgBrAXA",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}