workflows/06-notifier.json
{
  "updatedAt": "2026-05-27T04:22:39.775Z",
  "createdAt": "2026-05-27T00:27:09.870Z",
  "id": "6Bf5ZCnuBJEJUfYb",
  "name": "ST-06 Notifier",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spaceship-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "297f39d5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "spaceship-notify"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3b96780",
              "name": "title",
              "value": "={{ $json.title    ?? 'SpaceShipIO Alert' }}",
              "type": "string"
            },
            {
              "id": "660d1231",
              "name": "message",
              "value": "={{ $json.message  ?? '(no message)' }}",
              "type": "string"
            },
            {
              "id": "0210a8d2",
              "name": "severity",
              "value": "={{ $json.severity ?? 'info' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "778cb1af",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const sev = $input.first().json.severity || 'info';\nconst e = {info:'\\u2139\\uFE0F', warn:'\\u26A0\\uFE0F', error:'\\U0001F6A8'}[sev] || '\\u2139\\uFE0F';\nconst title = $input.first().json.title;\nconst msg   = $input.first().json.message;\nreturn [{json:{text:`${e} <b>${title}</b>\\n${msg}`}}];"
      },
      "id": "9a34d6bd",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8983287190:AAGm8Zc1dC5FfLgtJKc2FfnX_AeplMqL56c/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"7603833558\",\"text\":\"{{ $json.text }}\",\"parse_mode\":\"HTML\"}",
        "options": {}
      },
      "id": "427d2708",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f3392220-980f-49c8-980f-6198d38721de",
  "activeVersionId": "f3392220-980f-49c8-980f-6198d38721de",
  "versionCounter": 18,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T00:27:09.875Z",
      "createdAt": "2026-05-27T00:27:09.875Z",
      "role": "workflow:owner",
      "workflowId": "6Bf5ZCnuBJEJUfYb",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-27T04:22:39.776Z",
    "createdAt": "2026-05-27T04:22:39.776Z",
    "versionId": "f3392220-980f-49c8-980f-6198d38721de",
    "workflowId": "6Bf5ZCnuBJEJUfYb",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "spaceship-notify",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "297f39d5",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "spaceship-notify"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3b96780",
                "name": "title",
                "value": "={{ $json.title    ?? 'SpaceShipIO Alert' }}",
                "type": "string"
              },
              {
                "id": "660d1231",
                "name": "message",
                "value": "={{ $json.message  ?? '(no message)' }}",
                "type": "string"
              },
              {
                "id": "0210a8d2",
                "name": "severity",
                "value": "={{ $json.severity ?? 'info' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "778cb1af",
        "name": "Set Defaults",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const sev = $input.first().json.severity || 'info';\nconst e = {info:'\\u2139\\uFE0F', warn:'\\u26A0\\uFE0F', error:'\\U0001F6A8'}[sev] || '\\u2139\\uFE0F';\nconst title = $input.first().json.title;\nconst msg   = $input.first().json.message;\nreturn [{json:{text:`${e} <b>${title}</b>\\n${msg}`}}];"
        },
        "id": "9a34d6bd",
        "name": "Format",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          650,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8983287190:AAGm8Zc1dC5FfLgtJKc2FfnX_AeplMqL56c/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"chat_id\":\"7603833558\",\"text\":\"{{ $json.text }}\",\"parse_mode\":\"HTML\"}",
          "options": {}
        },
        "id": "427d2708",
        "name": "Send Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          850,
          300
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Set Defaults",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Defaults": {
        "main": [
          [
            {
              "node": "Format",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format": {
        "main": [
          [
            {
              "node": "Send Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram": {
        "main": [
          []
        ]
      }
    },
    "authors": "Martin Castaneda",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T04:22:39.853Z",
        "id": 81,
        "workflowId": "6Bf5ZCnuBJEJUfYb",
        "versionId": "f3392220-980f-49c8-980f-6198d38721de",
        "event": "activated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    ]
  }
}