workflows/07-hauler.json
{
  "updatedAt": "2026-05-27T19:51:43.609Z",
  "createdAt": "2026-05-27T04:38:03.135Z",
  "id": "7iHITXOzRWYCAXVE",
  "name": "ST-07 Hauler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "d2d29210",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.spacetraders.io/v2/my/ships",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "alwaysOutputData": true
      },
      "id": "17390ddc",
      "name": "Get Ships",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.spacetraders.io/v2/my/contracts",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "alwaysOutputData": true
      },
      "id": "836ce5b1",
      "name": "Get Contracts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const GAS_GIANT    = 'X1-UX96-C41';\nconst ASTEROID     = 'X1-UX96-B12';\nconst FUEL_STATION = 'X1-UX96-B6';\nconst MIN_FUEL     = 280;\nconst SIPHON_RESOURCES = new Set([\n  'POLYNUCLEOTIDES','HYDROCARBON','LIQUID_HYDROGEN',\n  'LIQUID_NITROGEN','ATMOSPHERIC_GASES','AMMONIA_ICE'\n]);\n\nconst staticData  = $getWorkflowStaticData('global');\nconst ships       = $('Get Ships').first().json.data   || [];\nconst conts       = $input.first().json.data            || [];\nconst activeC     = conts.find(c => c.accepted && !c.fulfilled) || null;\nconst pendingC    = conts.find(c => !c.accepted)                || null;\nconst tradeSym    = activeC?.terms?.deliver?.[0]?.tradeSymbol;\nconst deliverDest = activeC?.terms?.deliver?.[0]?.destinationSymbol;\nconst isSiphonContract = tradeSym && SIPHON_RESOURCES.has(tradeSym);\nconst workSite    = isSiphonContract ? GAS_GIANT : ASTEROID;\n\nfunction getRole(ship) {\n  const frame = ship.frame?.symbol || '';\n  if (frame.includes('PROBE') || frame.includes('SATELLITE')) return null;\n  if (frame.includes('FRIGATE')) return 'hauler';\n  if ((ship.mounts || []).some(m => m.symbol?.includes('MINING_LASER'))) return 'miner';\n  return null;\n}\nfunction hasSiphon(ship) {\n  return (ship.mounts || []).some(m => m.symbol?.includes('GAS_SIPHON'));\n}\n\nlet contractAccepted = false;\n\nfunction decide(ship) {\n  const nav      = ship.nav;\n  const status   = nav.status;\n  const wp       = nav.waypointSymbol;\n  const flightMode = nav.flightMode || 'CRUISE';\n  const fuel     = ship.fuel;\n  const cargo    = ship.cargo;\n  const now      = Date.now();\n  const sym      = ship.symbol;\n\n  const cooldownExp = new Date(ship.cooldown?.expiration || 0).getTime();\n  if (cooldownExp > now)     return {action:'on_cooldown', ship:sym, until:ship.cooldown.expiration};\n  if (status === 'IN_TRANSIT') return {action:'in_transit', ship:sym, status, wp};\n\n  // No active contract \u2014 accept pending or idle\n  if (!activeC) {\n    if (pendingC && !contractAccepted) {\n      contractAccepted = true;\n      return {action:'accept_contract', ship:sym, contractId:pendingC.id};\n    }\n    const junk = cargo.inventory.filter(i => i.symbol !== tradeSym);\n    if (junk.length > 0) return junk.map(i => ({action:'jettison', ship:sym, symbol:i.symbol, units:i.units}));\n    return {action:'idle', ship:sym, status, wp, reason:'awaiting_contract'};\n  }\n\n  // Skip ships that can't work this contract type\n  const canWork = isSiphonContract ? hasSiphon(ship) : true;\n  if (!canWork) return {action:'idle', ship:sym, status, wp, reason:'wrong_tool_for_contract'};\n\n  const cargoPct = cargo.units / cargo.capacity;\n  const haveOre  = (cargo.inventory.find(i => i.symbol === tradeSym)?.units) ?? 0;\n  const fuelFull = fuel.current >= fuel.capacity - 5;\n\n  // Jettison junk when cargo filling up\n  const junk = cargo.inventory.filter(i => i.symbol !== tradeSym);\n  if (cargoPct >= 0.7 && junk.length > 0) {\n    return junk.map(i => ({action:'jettison', ship:sym, symbol:i.symbol, units:i.units}));\n  }\n\n  // \u2500\u2500 Deliver loop \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (haveOre > 0) {\n    if (wp === deliverDest) {\n      if (status === 'DOCKED')   return {action:'deliver', ship:sym, contractId:activeC.id, units:haveOre, tradeSym};\n      if (status === 'IN_ORBIT') return {action:'dock', ship:sym};\n    }\n    if (wp === FUEL_STATION) {\n      if (status === 'IN_ORBIT' && fuelFull) {\n        if (flightMode === 'DRIFT') return {action:'set_cruise', ship:sym};\n        return {action:'navigate', ship:sym, waypoint:deliverDest, reason:'deliver'};\n      }\n      if (status === 'IN_ORBIT') return {action:'dock', ship:sym};\n      if (status === 'DOCKED') {\n        if (!fuelFull) return {action:'refuel', ship:sym};\n        if (flightMode === 'DRIFT') return {action:'set_cruise', ship:sym};\n        return {action:'orbit', ship:sym};\n      }\n    }\n    if (fuel.current < MIN_FUEL && status === 'IN_ORBIT') {\n      if (flightMode !== 'DRIFT') return {action:'set_drift', ship:sym};\n      return {action:'navigate', ship:sym, waypoint:FUEL_STATION, reason:'refuel'};\n    }\n    if (status === 'IN_ORBIT') return {action:'navigate', ship:sym, waypoint:deliverDest, reason:'deliver'};\n    if (status === 'DOCKED')   return {action:'orbit', ship:sym};\n  }\n\n  // \u2500\u2500 Harvest loop \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (wp !== workSite) {\n    if (fuel.current < MIN_FUEL && status === 'IN_ORBIT') {\n      if (flightMode !== 'DRIFT') return {action:'set_drift', ship:sym};\n      return {action:'navigate', ship:sym, waypoint:FUEL_STATION, reason:'refuel'};\n    }\n    if (status === 'IN_ORBIT') return {action:'navigate', ship:sym, waypoint:workSite, reason:'harvest'};\n    if (status === 'DOCKED')   return {action:'orbit', ship:sym};\n  }\n\n  // At work site\n  if (status === 'DOCKED') return {action:'orbit', ship:sym};\n  if (status === 'IN_ORBIT') {\n    if (isSiphonContract) return {action:'siphon', ship:sym};\n    const survey = staticData.survey;\n    const surveyValid = survey && new Date(survey.expiration).getTime() > now;\n    if (!surveyValid) return {action:'survey', ship:sym};\n    return {action:'mine_survey', ship:sym, survey};\n  }\n\n  return {action:'idle', ship:sym, status, wp, reason:'unknown'};\n}\n\nconst actions = [];\nfor (const ship of ships) {\n  if (!getRole(ship)) continue;\n  const result = decide(ship);\n  if (!result) continue;\n  if (Array.isArray(result)) {\n    for (const item of result) actions.push({json: item});\n  } else {\n    actions.push({json: result});\n  }\n}\nreturn actions.length > 0 ? actions : [{json:{action:'idle', reason:'no_active_ships'}}];"
      },
      "id": "de0d8b3c",
      "name": "Mission Control",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "daf259dc",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "accept_contract",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d3e594f2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "orbit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "5a31db04",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "navigate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d9e599f9",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mine",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "9c38b1f2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "dock",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e8ccd8c2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deliver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f9e2ba61",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "refuel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "649ade90-485f-46f6-87fe-0a06322706d7",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "jettison",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fe6a5f4d-99d6-450c-9ed5-d9f6dbd30741",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "survey",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "36fbc16b-c5b0-4289-9f45-cb894e12eb15",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "mine_survey",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "054adec3-ad8f-4197-8eb3-d427f471eda7",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "set_drift",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2dc47a54-37fe-4407-a536-9067060b51e1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "set_cruise",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "siphon-rule",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "siphon",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "788a159a",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/accept",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "82b1f515",
      "name": "Accept Contract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/orbit",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "0e856654",
      "name": "Orbit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/navigate",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"waypointSymbol\":\"{{ $json.waypoint }}\"}"
      },
      "id": "9093c5ef",
      "name": "Navigate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/extract",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "c3fb3d00",
      "name": "Mine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/dock",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "dc0d1c47",
      "name": "Dock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/deliver",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"shipSymbol\":\"{{ $json.ship }}\",\"tradeSymbol\":\"{{ $json.tradeSymbol }}\",\"units\":{{ $json.units }}}"
      },
      "id": "2e1e413a",
      "name": "Deliver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/refuel",
        "options": {},
        "continueOnFail": true,
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth"
      },
      "id": "343243c8",
      "name": "Refuel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        660
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "3ce0c0b5",
      "name": "Wait/Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "{\"title\":\"Contract accepted!\",\"message\":\"Mining loop started for HERMES-FLEET2\",\"severity\":\"info\"}"
      },
      "id": "ee8f9fbf",
      "name": "Notify Accept",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/spaceship-notify",
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={\"title\":\"Delivery!\",\"message\":\"{{ $json.units }} x {{ $json.tradeSymbol }} delivered\",\"severity\":\"info\"}"
      },
      "id": "1d4916ae",
      "name": "Notify Deliver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        560
      ]
    },
    {
      "name": "Jettison",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/jettison",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={\"symbol\":\"{{ $json.symbol }}\",\"units\":{{ $json.units }}}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        1460,
        720
      ],
      "id": "304422d5-530e-4a73-bb94-a7f42001ca22"
    },
    {
      "name": "Survey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/survey",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        1460,
        840
      ],
      "id": "8311dada-5734-45ff-9b12-d2d040e1c9d2"
    },
    {
      "name": "Store Survey",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nconst result = $input.first().json;\nconst surveys = result.data?.surveys || [];\n\n// Prefer survey that has contract ore deposits\nconst contractOre = 'ALUMINUM_ORE';\nconst best = surveys.find(s => s.deposits?.some(d => d.symbol === contractOre)) || surveys[0];\n\nif (best) {\n  staticData.survey = best;\n  const ores = best.deposits.map(d => d.symbol).join(', ');\n  return [{json:{stored:true, signature:best.signature, ores, expiration:best.expiration}}];\n}\nreturn [{json:{stored:false}}];\n"
      },
      "position": [
        1680,
        840
      ],
      "id": "0b91d500-7b7f-4fb0-98ac-6d0865a8d2dc"
    },
    {
      "name": "Mine Survey",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/extract/survey",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.survey) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        1460,
        960
      ],
      "id": "4092d874-19d7-4026-86af-d44c6d9a76ea"
    },
    {
      "name": "Set Drift",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/nav",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"flightMode\":\"DRIFT\"}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        1460,
        840
      ],
      "id": "e01a1f65-6c0d-4ee4-ac34-b7d063579ddb"
    },
    {
      "name": "Set Cruise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/nav",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"flightMode\":\"CRUISE\"}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "position": [
        1460,
        960
      ],
      "id": "88f9a5e3-5eb3-45ce-b5f3-a4e514f6c397"
    },
    {
      "name": "Siphon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        860
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/siphon",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "alwaysOutputData": true
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "56bs6PUHWdbliMlu",
          "name": "SpaceTraders Auth"
        }
      },
      "id": "4ad4561b-12a1-46ab-8b1e-2f85ee7724d4"
    }
  ],
  "connections": {
    "Every 2 min": {
      "main": [
        [
          {
            "node": "Get Ships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ships": {
      "main": [
        [
          {
            "node": "Get Contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contracts": {
      "main": [
        [
          {
            "node": "Mission Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mission Control": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Accept Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orbit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Navigate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deliver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refuel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jettison",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Survey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mine Survey",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Drift",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Cruise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Siphon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept Contract": {
      "main": [
        [
          {
            "node": "Notify Accept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deliver": {
      "main": [
        [
          {
            "node": "Notify Deliver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Survey": {
      "main": [
        [
          {
            "node": "Store Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "UBBtoeMsOM2deZTM"
  },
  "staticData": {
    "node:Every 2 min": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "7eed1cfa-5c76-43e2-ace0-04c388289543",
  "activeVersionId": "7eed1cfa-5c76-43e2-ace0-04c388289543",
  "versionCounter": 113,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T04:38:03.138Z",
      "createdAt": "2026-05-27T04:38:03.138Z",
      "role": "workflow:owner",
      "workflowId": "7iHITXOzRWYCAXVE",
      "projectId": "pQ9yqqsBtuSGk44p",
      "project": {
        "updatedAt": "2026-01-15T01:26:38.562Z",
        "createdAt": "2026-01-15T01:25:22.740Z",
        "id": "pQ9yqqsBtuSGk44p",
        "name": "Martin Castaneda <martinjosecastaneda1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-27T19:51:43.612Z",
    "createdAt": "2026-05-27T19:51:43.612Z",
    "versionId": "7eed1cfa-5c76-43e2-ace0-04c388289543",
    "workflowId": "7iHITXOzRWYCAXVE",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 30
              }
            ]
          }
        },
        "id": "d2d29210",
        "name": "Every 2 min",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.spacetraders.io/v2/my/ships",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "alwaysOutputData": true
        },
        "id": "17390ddc",
        "name": "Get Ships",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          300,
          200
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.spacetraders.io/v2/my/contracts",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "alwaysOutputData": true
        },
        "id": "836ce5b1",
        "name": "Get Contracts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          300,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const GAS_GIANT    = 'X1-UX96-C41';\nconst ASTEROID     = 'X1-UX96-B12';\nconst FUEL_STATION = 'X1-UX96-B6';\nconst MIN_FUEL     = 280;\nconst SIPHON_RESOURCES = new Set([\n  'POLYNUCLEOTIDES','HYDROCARBON','LIQUID_HYDROGEN',\n  'LIQUID_NITROGEN','ATMOSPHERIC_GASES','AMMONIA_ICE'\n]);\n\nconst staticData  = $getWorkflowStaticData('global');\nconst ships       = $('Get Ships').first().json.data   || [];\nconst conts       = $input.first().json.data            || [];\nconst activeC     = conts.find(c => c.accepted && !c.fulfilled) || null;\nconst pendingC    = conts.find(c => !c.accepted)                || null;\nconst tradeSym    = activeC?.terms?.deliver?.[0]?.tradeSymbol;\nconst deliverDest = activeC?.terms?.deliver?.[0]?.destinationSymbol;\nconst isSiphonContract = tradeSym && SIPHON_RESOURCES.has(tradeSym);\nconst workSite    = isSiphonContract ? GAS_GIANT : ASTEROID;\n\nfunction getRole(ship) {\n  const frame = ship.frame?.symbol || '';\n  if (frame.includes('PROBE') || frame.includes('SATELLITE')) return null;\n  if (frame.includes('FRIGATE')) return 'hauler';\n  if ((ship.mounts || []).some(m => m.symbol?.includes('MINING_LASER'))) return 'miner';\n  return null;\n}\nfunction hasSiphon(ship) {\n  return (ship.mounts || []).some(m => m.symbol?.includes('GAS_SIPHON'));\n}\n\nlet contractAccepted = false;\n\nfunction decide(ship) {\n  const nav      = ship.nav;\n  const status   = nav.status;\n  const wp       = nav.waypointSymbol;\n  const flightMode = nav.flightMode || 'CRUISE';\n  const fuel     = ship.fuel;\n  const cargo    = ship.cargo;\n  const now      = Date.now();\n  const sym      = ship.symbol;\n\n  const cooldownExp = new Date(ship.cooldown?.expiration || 0).getTime();\n  if (cooldownExp > now)     return {action:'on_cooldown', ship:sym, until:ship.cooldown.expiration};\n  if (status === 'IN_TRANSIT') return {action:'in_transit', ship:sym, status, wp};\n\n  // No active contract \u2014 accept pending or idle\n  if (!activeC) {\n    if (pendingC && !contractAccepted) {\n      contractAccepted = true;\n      return {action:'accept_contract', ship:sym, contractId:pendingC.id};\n    }\n    const junk = cargo.inventory.filter(i => i.symbol !== tradeSym);\n    if (junk.length > 0) return junk.map(i => ({action:'jettison', ship:sym, symbol:i.symbol, units:i.units}));\n    return {action:'idle', ship:sym, status, wp, reason:'awaiting_contract'};\n  }\n\n  // Skip ships that can't work this contract type\n  const canWork = isSiphonContract ? hasSiphon(ship) : true;\n  if (!canWork) return {action:'idle', ship:sym, status, wp, reason:'wrong_tool_for_contract'};\n\n  const cargoPct = cargo.units / cargo.capacity;\n  const haveOre  = (cargo.inventory.find(i => i.symbol === tradeSym)?.units) ?? 0;\n  const fuelFull = fuel.current >= fuel.capacity - 5;\n\n  // Jettison junk when cargo filling up\n  const junk = cargo.inventory.filter(i => i.symbol !== tradeSym);\n  if (cargoPct >= 0.7 && junk.length > 0) {\n    return junk.map(i => ({action:'jettison', ship:sym, symbol:i.symbol, units:i.units}));\n  }\n\n  // \u2500\u2500 Deliver loop \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (haveOre > 0) {\n    if (wp === deliverDest) {\n      if (status === 'DOCKED')   return {action:'deliver', ship:sym, contractId:activeC.id, units:haveOre, tradeSym};\n      if (status === 'IN_ORBIT') return {action:'dock', ship:sym};\n    }\n    if (wp === FUEL_STATION) {\n      if (status === 'IN_ORBIT' && fuelFull) {\n        if (flightMode === 'DRIFT') return {action:'set_cruise', ship:sym};\n        return {action:'navigate', ship:sym, waypoint:deliverDest, reason:'deliver'};\n      }\n      if (status === 'IN_ORBIT') return {action:'dock', ship:sym};\n      if (status === 'DOCKED') {\n        if (!fuelFull) return {action:'refuel', ship:sym};\n        if (flightMode === 'DRIFT') return {action:'set_cruise', ship:sym};\n        return {action:'orbit', ship:sym};\n      }\n    }\n    if (fuel.current < MIN_FUEL && status === 'IN_ORBIT') {\n      if (flightMode !== 'DRIFT') return {action:'set_drift', ship:sym};\n      return {action:'navigate', ship:sym, waypoint:FUEL_STATION, reason:'refuel'};\n    }\n    if (status === 'IN_ORBIT') return {action:'navigate', ship:sym, waypoint:deliverDest, reason:'deliver'};\n    if (status === 'DOCKED')   return {action:'orbit', ship:sym};\n  }\n\n  // \u2500\u2500 Harvest loop \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n  if (wp !== workSite) {\n    if (fuel.current < MIN_FUEL && status === 'IN_ORBIT') {\n      if (flightMode !== 'DRIFT') return {action:'set_drift', ship:sym};\n      return {action:'navigate', ship:sym, waypoint:FUEL_STATION, reason:'refuel'};\n    }\n    if (status === 'IN_ORBIT') return {action:'navigate', ship:sym, waypoint:workSite, reason:'harvest'};\n    if (status === 'DOCKED')   return {action:'orbit', ship:sym};\n  }\n\n  // At work site\n  if (status === 'DOCKED') return {action:'orbit', ship:sym};\n  if (status === 'IN_ORBIT') {\n    if (isSiphonContract) return {action:'siphon', ship:sym};\n    const survey = staticData.survey;\n    const surveyValid = survey && new Date(survey.expiration).getTime() > now;\n    if (!surveyValid) return {action:'survey', ship:sym};\n    return {action:'mine_survey', ship:sym, survey};\n  }\n\n  return {action:'idle', ship:sym, status, wp, reason:'unknown'};\n}\n\nconst actions = [];\nfor (const ship of ships) {\n  if (!getRole(ship)) continue;\n  const result = decide(ship);\n  if (!result) continue;\n  if (Array.isArray(result)) {\n    for (const item of result) actions.push({json: item});\n  } else {\n    actions.push({json: result});\n  }\n}\nreturn actions.length > 0 ? actions : [{json:{action:'idle', reason:'no_active_ships'}}];"
        },
        "id": "de0d8b3c",
        "name": "Mission Control",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          550,
          300
        ]
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "daf259dc",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "accept_contract",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "d3e594f2",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "orbit",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "5a31db04",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "navigate",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "d9e599f9",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "mine",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "9c38b1f2",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "dock",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "e8ccd8c2",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "deliver",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "f9e2ba61",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "refuel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "649ade90-485f-46f6-87fe-0a06322706d7",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "jettison",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "fe6a5f4d-99d6-450c-9ed5-d9f6dbd30741",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "survey",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "36fbc16b-c5b0-4289-9f45-cb894e12eb15",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "mine_survey",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "054adec3-ad8f-4197-8eb3-d427f471eda7",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "set_drift",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "2dc47a54-37fe-4407-a536-9067060b51e1",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "set_cruise",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": false
              },
              {
                "conditions": {
                  "options": {
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "siphon-rule",
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "siphon",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "fallbackOutput": "extra",
          "options": {}
        },
        "id": "788a159a",
        "name": "Action Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          800,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/accept",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "id": "82b1f515",
        "name": "Accept Contract",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          60
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/orbit",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "id": "0e856654",
        "name": "Orbit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/navigate",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"waypointSymbol\":\"{{ $json.waypoint }}\"}"
        },
        "id": "9093c5ef",
        "name": "Navigate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          260
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/extract",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "id": "c3fb3d00",
        "name": "Mine",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          360
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/dock",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "id": "dc0d1c47",
        "name": "Dock",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          460
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/contracts/{{$json.contractId}}/deliver",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"shipSymbol\":\"{{ $json.ship }}\",\"tradeSymbol\":\"{{ $json.tradeSymbol }}\",\"units\":{{ $json.units }}}"
        },
        "id": "2e1e413a",
        "name": "Deliver",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          560
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{$json.ship}}/refuel",
          "options": {},
          "continueOnFail": true,
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth"
        },
        "id": "343243c8",
        "name": "Refuel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          660
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        }
      },
      {
        "parameters": {},
        "id": "3ce0c0b5",
        "name": "Wait/Skip",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1050,
          760
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/spaceship-notify",
          "sendBody": true,
          "options": {},
          "specifyBody": "json",
          "jsonBody": "{\"title\":\"Contract accepted!\",\"message\":\"Mining loop started for HERMES-FLEET2\",\"severity\":\"info\"}"
        },
        "id": "ee8f9fbf",
        "name": "Notify Accept",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          60
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5678/webhook/spaceship-notify",
          "sendBody": true,
          "options": {},
          "specifyBody": "json",
          "jsonBody": "={\"title\":\"Delivery!\",\"message\":\"{{ $json.units }} x {{ $json.tradeSymbol }} delivered\",\"severity\":\"info\"}"
        },
        "id": "1d4916ae",
        "name": "Notify Deliver",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          560
        ]
      },
      {
        "name": "Jettison",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/jettison",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "options": {},
          "specifyBody": "json",
          "jsonBody": "={\"symbol\":\"{{ $json.symbol }}\",\"units\":{{ $json.units }}}"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          1460,
          720
        ],
        "id": "304422d5-530e-4a73-bb94-a7f42001ca22"
      },
      {
        "name": "Survey",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/survey",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          1460,
          840
        ],
        "id": "8311dada-5734-45ff-9b12-d2d040e1c9d2"
      },
      {
        "name": "Store Survey",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "parameters": {
          "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nconst result = $input.first().json;\nconst surveys = result.data?.surveys || [];\n\n// Prefer survey that has contract ore deposits\nconst contractOre = 'ALUMINUM_ORE';\nconst best = surveys.find(s => s.deposits?.some(d => d.symbol === contractOre)) || surveys[0];\n\nif (best) {\n  staticData.survey = best;\n  const ores = best.deposits.map(d => d.symbol).join(', ');\n  return [{json:{stored:true, signature:best.signature, ores, expiration:best.expiration}}];\n}\nreturn [{json:{stored:false}}];\n"
        },
        "position": [
          1680,
          840
        ],
        "id": "0b91d500-7b7f-4fb0-98ac-6d0865a8d2dc"
      },
      {
        "name": "Mine Survey",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/extract/survey",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.survey) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          1460,
          960
        ],
        "id": "4092d874-19d7-4026-86af-d44c6d9a76ea"
      },
      {
        "name": "Set Drift",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/nav",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"flightMode\":\"DRIFT\"}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          1460,
          840
        ],
        "id": "e01a1f65-6c0d-4ee4-ac34-b7d063579ddb"
      },
      {
        "name": "Set Cruise",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/nav",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"flightMode\":\"CRUISE\"}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "position": [
          1460,
          960
        ],
        "id": "88f9a5e3-5eb3-45ce-b5f3-a4e514f6c397"
      },
      {
        "name": "Siphon",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1050,
          860
        ],
        "parameters": {
          "method": "POST",
          "url": "=https://api.spacetraders.io/v2/my/ships/{{ $json.ship }}/siphon",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "options": {
            "alwaysOutputData": true
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "56bs6PUHWdbliMlu",
            "name": "SpaceTraders Auth"
          }
        },
        "id": "4ad4561b-12a1-46ab-8b1e-2f85ee7724d4"
      }
    ],
    "connections": {
      "Every 2 min": {
        "main": [
          [
            {
              "node": "Get Ships",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ships": {
        "main": [
          [
            {
              "node": "Get Contracts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Contracts": {
        "main": [
          [
            {
              "node": "Mission Control",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mission Control": {
        "main": [
          [
            {
              "node": "Action Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Action Switch": {
        "main": [
          [
            {
              "node": "Accept Contract",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Orbit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Navigate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mine",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Dock",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Deliver",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Refuel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Jettison",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Survey",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mine Survey",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Drift",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Cruise",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Siphon",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Accept Contract": {
        "main": [
          [
            {
              "node": "Notify Accept",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deliver": {
        "main": [
          [
            {
              "node": "Notify Deliver",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Survey": {
        "main": [
          [
            {
              "node": "Store Survey",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Martin Castaneda",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T19:51:43.699Z",
        "id": 182,
        "workflowId": "7iHITXOzRWYCAXVE",
        "versionId": "7eed1cfa-5c76-43e2-ace0-04c388289543",
        "event": "activated",
        "userId": "57a0ed57-85ea-48e0-a5d9-21b1a9cc107c"
      }
    ]
  }
}